@font-face {
  font-family: 'Geomanist ExtraLight';
  src: url('../fonts/geomanist-extralight-webfont.woff2') format('woff2'),
       url('../fonts/geomanist-extralight-webfont.eot') format('eot'),
       url('../fonts/geomanist-extralight-webfont.woff') format('woff'),
       url('../fonts/geomanist-extralight-webfont.ttf') format('ttf');
}
@font-face {
  font-family: 'Geomanist Thin';
  src: url('../fonts/geomanist-thin-webfont.woff2') format('woff2'),
       url('../fonts/geomanist-thin-webfont.eot') format('eot'),
       url('../fonts/geomanist-thin-webfont.woff') format('woff'),
       url('../fonts/geomanist-thin-webfont.ttf') format('ttf');
}
@font-face {
  font-family: 'Geomanist Light';
  src: url('../fonts/geomanist-light-webfont.woff2') format('woff2'),
       url('../fonts/geomanist-light-webfont.eot') format('eot'),
       url('../fonts/geomanist-light-webfont.woff') format('woff'),
       url('../fonts/geomanist-light-webfont.ttf') format('ttf');
}
@font-face {
  font-family: 'Geomanist Regular';
  src: url('../fonts/geomanist-regular-webfont.woff2') format('woff2'),
       url('../fonts/geomanist-regular-webfont.eot') format('eot'),
       url('../fonts/geomanist-regular-webfont.woff') format('woff'),
       url('../fonts/geomanist-regular-webfont.ttf') format('ttf');
}
@font-face {
  font-family: 'Geomanist Book';
  src: url('../fonts/geomanist-book-webfont.woff2') format('woff2'),
       url('../fonts/geomanist-book-webfont.eot') format('eot'),
       url('../fonts/geomanist-book-webfont.woff') format('woff'),
       url('../fonts/geomanist-book-webfont.ttf') format('ttf');
}
@font-face {
  font-family: 'Geomanist Bold';
  src: url('../fonts/geomanist-bold-webfont.woff2') format('woff2'),
       url('../fonts/geomanist-bold-webfont.eot') format('eot'),
       url('../fonts/geomanist-bold-webfont.woff') format('woff'),
       url('../fonts/geomanist-bold-webfont.ttf') format('ttf');
}

body {
  background-color: #f3f8fd;
  font-family: "Geomanist Light", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", sans-serif, "Icons16";
  height: 100vh;
  margin: 0;
  // margin-right: 8px;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  margin: 30px 0px 15px 0px;
  color: #48485A;
  font-family: "Geomanist Book", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", sans-serif, "Icons16";
  &.with-hr {
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(111, 125, 146, 0.15);   // #6F7D92 with 0.15 opacity
  }
  font-weight: normal;
}

.page-title {
  font-family: "Geomanist Regular", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", sans-serif, "Icons16";
  margin: 0px;
  background-color: #2CC2FD;
  color: #FFF;
  padding: 20px;
  display: block;
  font-size: 2.5em;
}

strong {
  font-family: "Geomanist Regular", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", sans-serif, "Icons16";
  color: inherit;
}

p {
  color: #6F7D92;
  line-height: 22px;
}

a {
  color: #6B75DD;
  font-family: "Geomanist Book", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", sans-serif, "Icons16";
  transition: color 0.3s;
  &:link {
    outline: none;
  }
  &:hover {
    text-decoration: none;
    color: #434789;
  }
}
hr { margin: 30px 0px; }

[class^=col-] {
  padding-left: 30px;
  padding-right: 30px;
}

.fill-height {
  height: 100%;
  width: 100%;
}

.pt-content {
  padding: 30px;
}
.pt-button {
  border: none;
  border-radius: 30px;
  &.pt-intent-primary {
    background: #6B75DD;
    box-shadow: none;
  }
}
.pt-control-group.pt-vertical > .pt-button:last-child {
  border-radius: 30px;
}

.pt-tabs {
  .pt-tab-list {
    .pt-tab {
      font-family: "Geomanist Book", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", sans-serif, "Icons16";
      color: #48485A;
      padding: 0px 15px;
      -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Chrome/Safari/Opera */
         -khtml-user-select: none; /* Konqueror */
           -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                      not supported by any browser */
      &:active {
        outline: none;
      }
    }
    .pt-tab[aria-selected=true] {
      color: #FFF;
      outline: none;
      transition: color 0.3s 0.05s;
    }
    .pt-tab-indicator-wrapper {
      .pt-tab-indicator {
        height: 30px;
        background-color: #6B75DD;
        border-radius: 5px;
      }
    }
  }
  .pt-tab-list.pt-large .pt-tab-indicator-wrapper .pt-tab-indicator {
    height: 40px;
  }
}
nav.pt-navbar {
  background-color: #32335C;
  font-family: "Geomanist Regular", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", sans-serif, "Icons16";
  .pt-menu {
    background-color: #32335C;
    .pt-menu-item {
      color: #FFF;
      transition: color 0.3s;
      display: inline-block;
      &:hover {
        background-color: inherit;
        color: #dbdeff;
      }
      &::before {
        color: rgba(255, 255, 255, 0.35);
      }
    }
    .pt-popover-target {
      margin-right: 10px;
    }
  }
}

.CodeMirror pre {
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
}

.ServiceAuthConfigurationDetails .item {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.ServiceAuthConfigurationDetails .parent.button-container {
    padding: 20px;
}
