nav.pt-navbar {
  background-color: #32335C;
  .pt-menu {
    background-color: #32335C;
    color: #FFF;
    .pt-popover-target {
      margin-right: 10px;
      .pt-menu-item {
        transition: color 0.3s;
        &:hover {
          background-color: inherit;
          color: #bbf1ff;
        }
        &::before {
          color: rgba(255, 255, 255, 0.35);
        }
      }
    }
  }
}

.CodeMirror pre {
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
}

.ServiceAuthConfigurationDetails .item {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.ServiceAuthConfigurationDetails .parent.button-container {
    padding: 20px;
}

.fill-height {
  height: 100%;
  width: 100%;
}

.pt-button {
  border: none;
  border-radius: 20px;
  &.pt-intent-primary {
    background: #6B75DD;
    box-shadow: none;
  }
}
