.integration-request {
  text-align: right;
}
.MarketplaceView {
  .integration {
    text-align: center;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    height: 300px;
    position: relative;
    .title {
      margin: 15px 0px 40px 0px;
      height: 40px;
    }
    .services-icons {
      width: 100%;
      height: 150px;
      white-space: nowrap;
      text-align: center;
      .service-container {
        display: inline-block;
        &:first-of-type .connector { display: none; }
        .connector {
          border-top: 2px dashed #E9EEF3;
          width: 30px;
          display: inline-block;
          height: 0px;
        }
        .service {
          display: inline-block;
          vertical-align: middle;
          border: 2px solid #E9EEF3;
          border-radius: 50%;
          padding: 18px;
          max-width: 90px;
          img {
            max-width: 100%;
            max-height: 100%;
            display: inline-block;
          }
        }
      }
    }
    .description {
    }
    .author {
      position: absolute;
      bottom: 16px;
      // font-weight: bold;
      color: #6F7D92;
    }
    .pricing {
      position: absolute;
      bottom: 10px;
      right: 10px;
      background-color: #E0E0E0;
      padding: 8px 12px;
      border-radius: 20px;
      color: #666;
      font-size: 0.9em;
    }
  }
  .integration.qty-1 {
    .title { margin-bottom: 20px; }
    .services-icons {
      .service-container {
        width: 100%;
        height: 100%;
        .service {
          height: 100%;
          max-width: none;
        }
      }
    }
  }
  .integration.qty-2 {
    .title { margin-bottom: 20px; }
    .services-icons {
      .service-container {
        height: 100%;
        width: 36%;
        .service {
          padding: 24px;
          max-width: none;
        }
      }
      .service-container:first-of-type {
        margin-left: -30px;
      }
    }
  }
}
