.integration-request {
  text-align: right;
}

.MarketplaceView {
  .integration {
    text-align: center;
    background-color: #f9f9f9;
    margin-bottom: 30px;
    min-height: 300px;
    position: relative;
    .title {
      margin: 15px 0px 40px 0px;
      // height: 40px;
    }
    .services-icons {
      width: 100%;
      min-height: 150px;
      text-align: center;
      .service-container {
        display: inline-block;
        margin: 0px 10px 10px 10px;
        &:first-of-type .connector { display: none; }

        .connector {
          border-top: 2px dashed #E9EEF3;
          width: 30px;
          display: inline-block;
          height: 0px;
        }

        .service {
          display: inline-block;
          vertical-align: middle;
          border: 2px solid #E9EEF3;
          border-radius: 50%;
          width: 90px;
          height: 90px;
          overflow: hidden;
          background: #fff;

          &:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
          }

          .service-image {
            display: inline-block;
            vertical-align: middle;
          }

          img {
            max-width: 100%;
            display: inline-block;
          }
        }
      }
    }
    .description {
    }
    .author {
      position: absolute;
      bottom: 16px;
      color: #6F7D92;
    }
    .pricing {
      position: absolute;
      bottom: 10px;
      right: 10px;
      background-color: #E0E0E0;
      padding: 8px 12px;
      border-radius: 20px;
      color: #666;
      font-size: 0.9em;
    }
  }

  .integration.qty-1 {
    .title { margin-bottom: 30px; }
    .services-icons {
      height: 150px;
      .service-container {
        width: 40%;
        margin: 0px 0px;
        .service {
          background: #fff;
          padding: 15px;
          max-width: none;
          img {
            display: inline-block;
          }
        }
      }
    }

    .ghost-center::before {
      content: '';
      display: inline-block;
      height: 100%;
      width: 1%;
      vertical-align: middle;
    }
    .ghost-center div {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .integration.qty-2 {
    // .title { margin-bottom: 20px; }
    .services-icons {
      white-space: nowrap;
      .service-container {
        height: 100%;
        width: 36%;
        margin: 0px;
        .service {
          padding: 20px;
          max-width: none;
        }
      }
      .service-container:first-of-type {
        margin-left: -30px;
      }
    }
  }

  .integration {
    &.qty-3, &.qty-4 {
      .services-icons {
        white-space: normal;
        .service-container {
          margin: 0px 10px 10px 10px;
          width: 33%;
          .service {
            img {
            }
          }
        }
        .service-container:first-of-type {
        }
      }
    }
  }
}
