.IntegrationDetails {
  width: 1080px;
  margin: 0px auto;
  .heading {
    .title { margin: 10px 0px; }
    margin-bottom: 15px;
  }
  .subheading {
    line-height: 10px;
  }
  .details-col-1 {
    // border: 1px dashed #F00;
    // padding: 0px 15px;
    .services-icons {
      background-color: #FFF;
      box-shadow: 0px 0px 8px #aaa;
      border-radius: 5px;
      padding: 10px;
      text-align: center;
      margin-bottom: 30px;
      padding: 40px 0px;
      .service-icon-container {
        display: inline-block;
        border: 2px solid #E9EEF3;
        padding: 24px;
        background-color: rgba(#FFF, 0.0);
        border-radius: 50%;
        img {
          height: 60px;
        }
      }
      .connector {
        border-top: 3px dashed #E9EEF3;
        width: 50px;
        display: inline-block;
        // background-color: #EEE;
        height: 30px;
      }
    }
    .developer {

    }
    .what-you-need {
      margin-bottom: 30px;
    }
  }
  .details-col-2 {
    // border: 1px dashed #F00;
    // padding: 0px 15px;
    button {
      // padding: 5px 30px;
      width: 100%;
    }
    .pricing {
      font-size: 20px;
      text-align: center;
      padding: 20px 0px;
      margin: 0px;
    }
    .likes {
      padding: 15px 15px;
      border: 1px solid #DDD;
      border-radius: 6px;
      .fa {
        margin-right: 5px;
        &.fa-heart-o {
          opacity: 0.5;
        }
      }
      .total_likes_indicator {
        float: right;
        color: #9B9B9B;
        .howmany {

        }
      }
    }
  }
}
